Projeto_arquitetura_autocad.json
{
  "name": "Projeto arquitetura 2",
  "nodes": [
    {
      "parameters": {
        "options": {
          "maxIterations": 10
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        200,
        -120
      ],
      "id": "2ffb23cf-cef9-4e9a-998d-1e0e2e42af5f",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        20,
        120
      ],
      "id": "4568c7fe-91f4-4349-a98d-f049ee93abcc",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "lVI9tsNhjmp1xShy",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        280,
        140
      ],
      "id": "ed2f3372-0516-4c79-98c2-c08b3d9efa15",
      "name": "Simple Memory",
      "disabled": true
    },
    {
      "parameters": {
        "inputDataFieldName": "test_n8n",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTool",
      "typeVersion": 3,
      "position": [
        520,
        120
      ],
      "id": "ad66a134-9c68-4d53-82c9-7108c547ab30",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "2o9sK438xWX2seoS",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "prompt": "={{ $json.output }}",
        "options": {
          "quality": "hd",
          "returnImageUrls": false,
          "binaryPropertyOutput": "data"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        560,
        -120
      ],
      "id": "1d25b33b-0da4-423e-abe6-1168f98386d3",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "lVI9tsNhjmp1xShy",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -40,
        -120
      ],
      "id": "cead495d-2223-46c6-b2e5-138602c758d7",
      "name": "When chat message received",
      "webhookId": "8eb748d8-320e-4fd2-9d1a-f11f0bbfe5b8"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "90510fde-de0a-4cc8-8bcb-46a257c2b49e",
  "meta": {
    "instanceId": "9e526c36b6aacb8f47a2e7e15f158924700556a1db01383f0703efc5a4137601"
  },
  "id": "sPLtbodOdYgN0r2C",
  "tags": []
}